extend ./layout.jade

block title
    title=resume_title

block style
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/font-awesome.min.css")

block content
    main
        aside.sidebar
            figure
                div#qr-code
                    img(src="img/pic.jpg", alt="wechat")
                h2=name
                h3=job_description
            section.info-sec.language
                h3.sec-title 语言能力
                ul
                    each item in language
                        li=item
            section.info-sec.contact
                h3.sec-title 联系方式
                ul
                    each item in contact
                        li(class=item.type)=item.value
        article.content
            section.content-sec.education
                h3.sec-title 教育经历
                ul
                    each item in education
                        li
                            .sec-left
                                h3 #{item.start + " - " + item.end}
                            .sec-right
                                dl
                                    dt=item.school
                                    dd.major=item.major
                                    each award in item.awards
                                        dd.award=award
            section.content-sec.project
                h3.sec-title 项目经验
                ul
                    each item in project
                        li
                            .sec-left
                                h3 #{item.start + " - " + item.end}
                            .sec-right
                                dl
                                    dt=item.name
                                    each description in item.descriptions
                                        dd=description
            section.content-sec.work
                h3.sec-title 工作经验
                ul
                    each item in work_experience
                        li
                            .sec-left
                                h3 #{item.start + " - " + item.end}
                                span=item.name
                            .sec-right
                                dl
                                    dt=item.place
                                    each description in item.descriptions
                                        dd=description
            section.content-sec.skill
                h3.sec-title 工作技能
                ul
                    each skill in skills
                        li=skill
            //- section.test-sec
            //-     each item in contact
            //-         li heiheihei